NEXT_PUBLIC_SUPABASE_URL=https://ceqpntikicdfdtastjeh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlcXBudGlraWNkZmR0YXN0amVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2MzQ4MDgsImV4cCI6MjA3ODIxMDgwOH0.rrrEH3_lIPcgKMJsznQeuva4TGEW2qoNg5t-TDSITkc